<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'adminviews/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,200" />
</head>

<nav class="sidebar">
    <ul class="sidebar-nav">
        <li class="logo"></li>
        <li class="nav-item"><a href="#" class="nav-link"><span class="material-symbols-outlined">
            account_circle
            </span><span class="link-text">Usuario - Rol</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><span class="material-symbols-outlined">
            supervisor_account
            </span><span class="link-text">Administrar usuarios</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><span class="material-symbols-outlined">
            edit_document
            </span><span class="link-text">Administrar Encuestas</span></a></li>
    </ul>
</nav>