<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SingIn</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/style.css' %}">

</head>
<body>
    <div class="container">
        <div class="fotos">
            <img src="{% static 'login/logo.png' %}" alt="Logo UAZ">
        </div>
        <div class="form">
            {% block content %}
            <form action="" id="form" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Nombre" id="name" name="{{form.nombre.name}}">
                <input type="text" placeholder="Matricula o Numero de empleado" id="tuition" name="{{form.username.name}}">
                <input type="text" placeholder="Correo" id="email" name="{{form.email.name}}">
                <input type="text" placeholder="CURP" id="curp" name="{{form.curp.name}}">
                <input type="password" placeholder="Contraseña" id="pass1" name="{{form.password1.name}}">
                <input type="password" placeholder="Confirmar Contraseña" id="pass2" name="{{form.password2.name}}">

                <input type="submit" class="submit" id="submit">
                <p class="warnings" id="warnings">{{form.errors}}</p>
            </form>
            {% endblock content %}
            <hr>

            <button type="button" class="button-secundario" onclick="location.href='../login'">Iniciar Sesion</button>
        </div>
    </div>
</body>
</html>